/* RESET */
* {
    margin:0;
    padding:0;
    font-size:100%;
    font-family:'Arial';
    font-weight:normal;
    outline:none;
    text-decoration:none;
    box-sizing:border-box;
}
ul{list-style-type:none;}


/* TESTE */
.btn-menu {
    display:none;
}
.menu{
    width:100%;
    /*display:none;
    width:100%;
    height:100%;
    position:fixed;
    background-color:rgba(0,0,0,0.9);
    top:0;
    left:0;*/
}
.btn-close{
    font-size:3em;
    color:#FFFFFF;
    float:left;
    margin-left:0.5%; 
    cursor:pointer;
    display:none;
}

/* NAVEGAÇÃO INTERNA */
nav{width:100%;padding:5px;}
nav li{float:left;}
nav li a{
    color:#C20B16;
    font-family:'Swis721 BlkCn BT Black';
    font-size:25px;
    margin-left:220px;
    padding-bottom:10px;
    margin-top:0;
}
nav li a:hover{color:#B0050F; text-decoration:none;}

/* IMAGEM DO LOGO */
.img{
    height:10vh;
    width:10vw;
    float:left;
    position:absolute;
    top:0;
    right:0;
}
.img:hover{
    top:2vh;
}

/* HOME */
#home{
    margin-top:1%;
    background-image:url(../fonts/homec.jpg);
    padding:370px;
}
#home h1{
    font-family:'Western Bang Bang','Arial';
    font-size:9vw;
    color:#D9A64D;
    text-shadow:#000000 0.1em 0.1em 0.2em;
    position:absolute;
    top:35vh;
    left:30vw;
}
#home h2{
    font-family:'Western Bang Bang','Arial';
    font-size:9vw;
    color:#FFFFFF;
    text-shadow:#000000 0.1em 0.1em 0.2em;
    position:absolute;
    top:60vh;
    left:35vw;
}

/* APRESENTAÇÃO */
#apresentacao{
    margin-top:2%;
    background-image:url(../fonts/apresentacao.jpg);
    padding:280px;
}
#apresentacao h1{
    font-family:'Western Bang Bang','Arial';
    font-size:8vw;
    color:#FFFFFF;
    position:absolute;
    top:840px;
    left:1250px;
}
#apresentacao h2{
    font-family:'Western Bang Bang','Arial';
    font-size:7vw;
    color:#D9A64D;
    position:absolute;
    top:960px;
    left:1280px;
}
#apresentacao h3{
    font-family:'Swis721 BlkCn BT Black','Arial';
    font-size:3.8vw;
    color:#FFFFFF;
    position:absolute;
    top:1050px;
    left:50px;
}
#apresentacao h4{
    font-family:'Swis721 BlkCn BT Black','Arial';
    font-size:40px;
    color:#FFFFFF;
    text-align:center;
    position:absolute;
    top:1280px;
    left:550px;
}
#apresentacao h5{
    font-family:'Swis721 BlkCn BT Black','Arial';
    font-size:2.5vw;
    color:#FFFFFF;
    position:absolute;
    top:1120px;
    left:53px;
}

/* FUNCIONALIDADES */
#funcionalidades{
    margin-top:2%;
    background-color:#996D2C;
    padding-bottom:1%;
}
#funcionalidades h1{
    font-family:'Western Bang Bang','Arial';
    font-size:8.5vw;
    color:#FFFFFF;
    text-align:center;
    padding-top:2%;
    padding-bottom:1%;
}

/* RUNAS */
#espaco-runas{
    background-color:#FFFFFF;
    padding:50px;
    margin-right:5%;
    margin-left:5%;
}
.tamanho{
    width:52vw;
    height:500px;
}
.logo{
    position:absolute;
    top:5vh;
    right:5vw;
}
#espaco-runas h2{
    font-family:'Swis721 BlkCn BT Black','Arial';
    font-size:3vw;
    color:#000000;
    position:absolute;
    top:10vh;
    right:10vw;
}
#espaco-runas p{
    font-family:'Arial';
    font-size:2.1vw;
    color:#000000;
    position:absolute;
    top:14vh;
    right:14vw;
}

/* NOVA TRIAL */
#espaco-trial{
    background-color:#FFFFFF;
    padding:300px 100px;
    margin-right:5%;
    margin-left:5%;
    margin-top:5%;
}
.trial{
    position:absolute;
    top:2370px;
    left:955px;
}
.logo2{
    position:absolute;
    top:2370px;
    left:500px;
}
#espaco-trial h2{
    font-family:'Swis721 BlkCn BT Black','Arial';
    font-size:3vw;
    color:#000000;
    position:absolute;
    top:2435px;
    left:405px;
}
#espaco-trial p{
    font-family:'Arial';
    font-size:2.1vw;
    color:#000000;
    position:absolute;
    top:2520px;
    left:315px;
}

/* VIAGEM A BARCO */
#espaco-barco{
    background-color:#FFFFFF;
    padding:50px;
    margin-right:5%;
    margin-left:5%;
    margin-top:5%;
    margin-bottom:5%;
}
.logo3{
    position:absolute;
    top:3070px;
    right:480px;
}
#espaco-barco h2{
    font-family:'Swis721 BlkCn BT Black';
    font-size:3vw;
    color:#000000;
    position:absolute;
    top:3150px;
    right:335px;
}
#espaco-barco p{
    font-family:'Arial';
    font-size:2.1vw;
    color:#000000;
    position:absolute;
    top:3230px;
    right:270px;
}

/* DESENVOLVIMENTO */
#desenvolvimento{
    background-color:#231A0F;
    width:100%;
    margin-top:2%;
    padding-bottom:3.5%;
}
#desenvolvimento h1{
    font-family:'Western Bang Bang';
    font-size:8.5vw;
    color:#FFFFFF;
    text-align:center;
    padding-top:2%;
    padding-bottom:1%;
}
.tamanhok{
    width:1273px;
    height:768px;
}
#carouselExampleControls{
    /*background-color:#47341D;*/
    background:linear-gradient(to top,#231A0F,#B1863B,#DBA851,#B1863B,#231A0F);
    margin-left:10%;
    margin-right:10%;
}

/* NEWSLETTER */
#newsletter{
    margin-top:2%;
    background-image:url(../fonts/newsletter.jpg);
    background-repeat:no-repeat;
    padding-right:400px;
    padding-left:400px;
    padding-top:250px;
    padding-bottom:150px;
}
#newsletter h1{
    font-family:'Western Bang Bang';
    font-size:7.5vw;
    color:#D9A64D;
    text-shadow:#000000 0.1em 0.1em 0.2em;
    position:absolute;
    top:4890px;
    right:700px;
}
#inputNome{
    width:900px;
    height:50px;
    margin-left:2.2%;
    border:2px solid #FFFFFF;
}
#inputEmail{
    width:900px;
    height:50px;
    margin-top:2%;
    border:2px solid #FFFFFF;
    margin-left:0.5%;
}
#botao{
    background:linear-gradient(to bottom,#D9A64D, #CE8C2C,#AF7C28);
    width:500px;
    height:75px;
    position:absolute;
    top:5360px;
    right:700px;
    font-family:'Western Bang Bang';
    font-size:3.2vw;
    color:#231A0F;
    border:none;
    box-shadow:2px 3px 2px #231A0F;
}
#botao:hover{
    background:linear-gradient(to bottom,#AF7C28, #CE8C2C,#D9A64D);
    width:500px;
    height:75px;
    position:absolute;
    top:5340px;
    right:700px;
    font-family:'Western Bang Bang';
    font-size:3.2vw;
    color:#231A0F;
    border:none;
    box-shadow:2px 3px 2px #231A0F;
}
#nome{
    font-family:'Western Bang Bang';
    font-size:3vw;
    text-shadow:#000000 0.1em 0.1em 0.2em;
    color:#FFFFFF;
}
#email{
    font-family:'Western Bang Bang';
    font-size:3vw;
    text-shadow:#000000 0.1em 0.1em 0.2em;
    color:#FFFFFF;
}

/* 1600 X 900 (Casa) */
@media screen and (max-width:1600px) {
    /* NAVEGAÇÃO INTERNA */
    nav{width:100%;padding:5px;}
    nav li{float:left;}
    nav li a{
        color:#C20B16;
        font-family:'Swis721 BlkCn BT Black';
        font-size:1.5vw;
        margin-left:10vw;
        padding-bottom:10px;
        margin-top:0;
    }
    nav li a:hover{color:#B0050F; text-decoration:none;}

    /* APRESENTAÇÃO */
    #apresentacao h1{
        left:62vw;
    }
    #apresentacao h2{
        left:64vw;
    }
    #apresentacao h4{
        left:25vw;
    }
    
    /* RUNAS */
    .logo{
        top:208vh;
        right:20vw;
    }
    #espaco-runas h2{
        top:215vh;
        right:18vw;
    }
    #espaco-runas p{
        top:225vh;
        right:10vw;
    }

    /* NOVA TRIAL */
    .trial{
        top:294vh;
        left:40vw;
    }
    .logo2{
        top:294vh;
        left:21vw;
    }
    #espaco-trial h2{
        top:302vh;
        left:15vw;
    }
    #espaco-trial p{
        top:310vh;
        left:10vw;
    }

    /* VIAGEM A BARCO */
    .logo3{
        top:379vh;
        right:20.5vw;
    }
    #espaco-barco h2{
        top:390vh;
        right:11vw;
    }
    #espaco-barco p{
        top:398vh;
        right:7.5vw;
    }

    /* NEWSLETTER */
    #newsletter h1{
        top:605vh;
        right:32.5vw;
    }
    #inputNome{
        width:37.5vw;
        margin-left:3%;
    }
    #inputEmail{
        width:37.5vw;
    }
    #botao{
        background:linear-gradient(to bottom,#D9A64D, #CE8C2C,#AF7C28);
        width:20vw;
        top:657vh;
        right:38vw;
    }
    #botao:hover{
        background:linear-gradient(to bottom,#AF7C28, #CE8C2C,#D9A64D);
        width:20vw;
        top:657vh;
        right:38vw;
    }
}

/* SMALL DEVICES - TABLETS */
@media screen and (max-width:800px){
    /* NAVEGAÇÃO INTERNA */
    nav{width:100%;padding:5px;}
    nav li{float:left;}
    nav li a{
        color:#C20B16;
        font-family:'Swis721 BlkCn BT Black';
        font-size:2.5vw;
        margin-left:4.5vw;
        margin-top:0;
    }
    nav li a:hover{color:#B0050F; text-decoration:none;}

    /* IMAGEM DO LOGO */
    .img{
        height:9vh;
        width:9vw;
        float:left;
        position:absolute;
        top:0;
        right:0;
    }
    .img:hover{
        top:2vh;
    }

    /* HOME */
    #home{
        margin-top:1%;
        background-image:url(../fonts/homeok.jpg);
        padding:370px;
    }
    #home h1{
        font-family:'Western Bang Bang','Arial';
        font-size:13vw;
        color:#D9A64D;
        text-shadow:#000000 0.1em 0.1em 0.2em;
        position:absolute;
        top:35vh;
        left:20vw;
    }
    #home h2{
        font-family:'Western Bang Bang','Arial';
        font-size:13vw;
        color:#FFFFFF;
        text-shadow:#000000 0.1em 0.1em 0.2em;
        position:absolute;
        top:60vh;
        left:30vw;
    }

    /* APRESENTAÇÃO */
    #apresentacao{
        margin-top:2%;
        background-image:url(../fonts/apresentacaook.jpg);
        padding:280px;
    }
    #apresentacao h1{
        font-family:'Western Bang Bang','Arial';
        font-size:10vw;
        color:#FFFFFF;
        position:absolute;
        top:105vh;
        left:55vw;
    }
    #apresentacao h2{
        font-family:'Western Bang Bang','Arial';
        font-size:8vw;
        color:#D9A64D;
        position:absolute;
        top:115vh;
        left:58vw;
    }
    #apresentacao h3{
        font-family:'Swis721 BlkCn BT Black','Arial';
        font-size:4vw;
        color:#FFFFFF;
        position:absolute;
        top:132.5vh;
        left:3vw;
    }
    #apresentacao h4{
        font-family:'Swis721 BlkCn BT Black','Arial';
        font-size:3vw;
        color:#FFFFFF;
        text-align:center;
        position:absolute;
        top:160vh;
        left:18vw;
    }
    #apresentacao h5{
        font-family:'Swis721 BlkCn BT Black','Arial';
        font-size:3vw;
        color:#FFFFFF;
        position:absolute;
        top:138vh;
        left:3.5vw;
    }

    /* FUNCIONALIDADES */
    #funcionalidades{
        margin-top:2%;
        background-color:#996D2C;
        padding-bottom:1%;
    }
    #funcionalidades h1{
        font-family:'Western Bang Bang','Arial';
        font-size:13vw;
        color:#FFFFFF;
        text-align:center;
        padding-top:2%;
        padding-bottom:1%;
    }

    /* RUNAS */
    #espaco-runas{
        background-color:#FFFFFF;
        padding:5.2vw;
        margin-right:5%;
        margin-left:5%;
    }
    .tamanho{
        width:43vw;
        height:40vh;
    }
    .logo{
        position:absolute;
        top:196vh;
        right:18vw;
    }
    #espaco-runas h2{
        font-family:'Swis721 BlkCn BT Black','Arial';
        font-size:5vw;
        color:#000000;
        position:absolute;
        top:203vh;
        right:17vw;
    }
    #espaco-runas p{
        font-family:'Arial';
        font-size:2.5vw;
        color:#000000;
        position:absolute;
        top:210vh;
        right:10vw;
    }

    /* NOVA TRIAL */
    #espaco-trial{
        background-color:#FFFFFF;
        padding:27vh 10vw;
        margin-right:5%;
        margin-left:5%;
    }
    .trial{
        position:absolute;
        top:252vh;
        left:44vw;
        width:43vw;
        height:40vh;
    }
    .logo2{
        position:absolute;
        top:252vh;
        left:21vw;
    }
    #espaco-trial h2{
        font-family:'Swis721 BlkCn BT Black','Arial';
        font-size:5vw;
        color:#000000;
        position:absolute;
        top:260vh;
        left:12vw;
    }
    #espaco-trial p{
        font-family:'Arial';
        font-size:2.5vw;
        color:#000000;
        position:absolute;
        top:267vh;
        left:10vw;
    }

    /* VIAGEM A BARCO */
    #espaco-barco{
        background-color:#FFFFFF;
        padding:5.2vw;
        margin-right:5%;
        margin-left:5%;
    }
    .logo3{
        position:absolute;
        top:311vh;
        right:19vw;
    }
    #espaco-barco h2{
        font-family:'Swis721 BlkCn BT Black';
        font-size:4.5vw;
        color:#000000;
        position:absolute;
        top:320vh;
        right:8vw;
    }
    #espaco-barco p{
        font-family:'Arial';
        font-size:2.3vw;
        color:#000000;
        position:absolute;
        top:328vh;
        right:8vw;
    }

    /* DESENVOLVIMENTO */
    #desenvolvimento{
        background-color:#231A0F;
        width:100%;
        margin-top:2%;
        padding-bottom:5%;
    }
    #desenvolvimento h1{
        font-family:'Western Bang Bang';
        font-size:13vw;
        color:#FFFFFF;
        text-align:center;
        padding-top:2%;
        padding-bottom:1%;
    }
    .tamanhok{
        width:5vw;
        height:100%;
    }

    /* NEWSLETTER */
    #newsletter{
        margin-top:2%;
        background-image:url(../fonts/newsletter.jpg);
        background-repeat:no-repeat;
        padding-right:15vw;
        padding-left:15vw;
        padding-top:20vw;
        padding-bottom:16vw;
    }
    #newsletter h1{
        font-family:'Western Bang Bang';
        font-size:10vw;
        color:#D9A64D;
        text-shadow:#000000 0.1em 0.1em 0.2em;
        position:absolute;
        top:439vh;
        right:28.5vw;
    }
    #inputNome{
        width:50vw;
        height:5vh;
        margin-left:3%;
        border:2px solid #FFFFFF;
    }
    #inputEmail{
        width:50vw;
        height:5vh;
        margin-top:2%;
        border:2px solid #FFFFFF;
        margin-left:0.5%;
    }
    #botao{
        background:linear-gradient(to bottom,#D9A64D, #CE8C2C,#AF7C28);
        width:30vw;
        height:8vh;
        position:absolute;
        top:477vh;
        right:35vw;
        font-family:'Western Bang Bang';
        font-size:4.5vw;
        color:#231A0F;
        border:none;
        box-shadow:2px 3px 2px #231A0F;
    }
    #botao:hover{
        background:linear-gradient(to bottom,#AF7C28, #CE8C2C,#D9A64D);
        width:30vw;
        height:8vh;
        position:absolute;
        top:477vh;
        right:35vw;
        font-family:'Western Bang Bang';
        font-size:4.5vw;
        color:#231A0F;
        border:none;
        box-shadow:2px 3px 2px #231A0F;
    }
    #nome{
        font-family:'Western Bang Bang';
        font-size:4.5vw;
        text-shadow:#000000 0.1em 0.1em 0.2em;
        color:#FFFFFF;
    }
    #email{
        font-family:'Western Bang Bang';
        font-size:4.5vw;
        text-shadow:#000000 0.1em 0.1em 0.2em;
        color:#FFFFFF;
    }
}

/* SMALL DEVICES - SMARTPHONES */
@media screen and (max-width:480px){
    /* TESTE */
    .btn-menu{
        border:none;
        color:#C20B16;
        background-color:transparent;
        position:absolute;
        top:1.1vh;
        left:2vw;
        cursor:pointer;
        display:block;
    }
    .menu{
        display: none;
    }
    .menu.exibido{
        display: block;
        width:100%;
        height:100%;
        position:fixed;
        background-color:rgba(0,0,0,0.9);
        top:0;
        left:0;
        z-index:2; 
        color:#FFFFFF;
    }
    .menu:hover{color:#B0050F;}
    .btn-close{
        font-size:3em;
        color:#FFFFFF;
        float:left; 
        margin-left:0.5%; 
        cursor:pointer;
        display:block;
        position:fixed;
        top:0;
        left:50%;  
        background-color:#D9A64D;
    }
    .btn-close:hover{background-color:#D9A64D;}
    
    /* NAVEGAÇÃO INTERNA */
    nav{width:100%;padding:5px;}
    nav li{float:left;}
    nav li a{
        color:#DAD4D4;
        font-family:'Swis721 BlkCn BT Black';
        font-size:9.5vw;
        margin-left:7vw;
        line-height:450%;
        border-top:2px solid #D9A64D; 
    }
    nav li a:hover{color:#D9A64D;  text-decoration:none;border-top:2px solid #B0050F;}

    /* IMAGEM DO LOGO */
    .img{
        height:8vh;
        width:15vw;
        float:left;
        position:absolute;
        top:0;
        right:0px;
    }
    .img:hover{
        top:1vh;
    }

    /* HOME */
    #home{
        margin-top:9%;
        background-image:url(../fonts/hometeste.jpg);
        background-repeat:no-repeat;
        padding:250px;
    }
    #home h1{
        font-family:'Western Bang Bang','Arial';
        font-size:14vw;
        color:#D9A64D;
        text-shadow:#000000 0.1em 0.1em 0.2em;
        position:absolute;
        top:25vh;
        left:12vw;
    }
    #home h2{
        font-family:'Western Bang Bang','Arial';
        font-size:14vw;
        color:#FFFFFF;
        text-shadow:#000000 0.1em 0.1em 0.2em;
        position:absolute;
        top:40vh;
        left:22vw;
    }

    /* APRESENTAÇÃO */
    #apresentacao{
        margin-top:2%;
        background-image:url(../fonts/apresentacaoteste.jpg);
        background-repeat:no-repeat;
        padding:250px;
    }
    #apresentacao h1{
        font-family:'Western Bang Bang','Arial';
        font-size:10vw;
        color:#FFFFFF;
        position:absolute;
        top:73vh;
        left:50vw;
    }
    #apresentacao h2{
        font-family:'Western Bang Bang','Arial';
        font-size:9vw;
        color:#D9A64D;
        position:absolute;
        top:79vh;
        left:52vw;
    }
    #apresentacao h3{
        font-family:'Swis721 BlkCn BT Black','Arial';
        font-size:5.5vw;
        color:#FFFFFF;
        position:absolute;
        top:97vh;
        left:3vw;
    }
    #apresentacao h4{
        font-family:'Swis721 BlkCn BT Black','Arial';
        font-size:3.7vw;
        color:#FFFFFF;
        text-align:center;
        position:absolute;
        top:125vh;
        left:8.5vw;
    }
    #apresentacao h5{
        font-family:'Swis721 BlkCn BT Black','Arial';
        font-size:4vw;
        color:#FFFFFF;
        position:absolute;
        top:101vh;
        left:3.5vw;
    }
    /* FUNCIONALIDADES */
    #funcionalidades{
        margin-top:2%;
        background-color:#996D2C;
        padding-bottom:1%;
    }
    #funcionalidades h1{
        font-family:'Western Bang Bang','Arial';
        font-size:13vw;
        color:#FFFFFF;
        text-align:center;
        padding-top:2%;
        padding-bottom:1%;
    }

    /* RUNAS */
    #espaco-runas{
        background-color:#FFFFFF;
        padding:100px 22px;
        margin-right:3%;
        margin-left:3%;
        height:560px;
    }
    .tamanho{
        width:80vw;
        height:38vh;
    }
    .logo{
        position:absolute;
        top:146.5vh;
        right:37vw;
    }
    #espaco-runas h2{
        font-family:'Swis721 BlkCn BT Black','Arial';
        font-size:6vw;
        color:#000000;
        position:absolute;
        top:152.5vh;
        right:37vw;
    }
    #espaco-runas p{
        font-family:'Arial';
        font-size:4.6vw;
        color:#000000;
        position:absolute;
        top:197vh;
        right:23vw;
    }

    /* NOVA TRIAL */
    #espaco-trial{
        background-color:#FFFFFF;
        padding:110px 22px;
        margin-right:3%;
        margin-left:3%;
        height:680px;
    }
    .trial{
        position:absolute;
        top:233vh;
        left:7.5vw;
        width:80vw;
    }
    .logo2{
        position:absolute;
        top:220vh;
        left:43vw;
    }
    #espaco-trial h2{
        font-family:'Swis721 BlkCn BT Black','Arial';
        font-size:6vw;
        color:#000000;
        position:absolute;
        top:228vh;
        left:33.5vw;
    }
    #espaco-trial p{
        font-family:'Arial';
        font-size:4.4vw;
        color:#000000;
        position:absolute;
        top:274vh;
        left:21vw;
    }

    /* VIAGEM A BARCO */
    #espaco-barco{
        background-color:#FFFFFF;
        padding:120px 22px;
        margin-right:3%;
        margin-left:3%;
        height:625px;
    }
    .logo3{
        position:absolute;
        top:308.5vh;
        right:40vw;
    }
    #espaco-barco h2{
        font-family:'Swis721 BlkCn BT Black';
        font-size:6vw;
        color:#000000;
        position:absolute;
        top:317vh;
        right:24.5vw;
    }
    #espaco-barco p{
        font-family:'Arial';
        font-size:4.6vw;
        color:#000000;
        position:absolute;
        top:362vh;
        right:14vw;
    }

    /* DESENVOLVIMENTO */
    #desenvolvimento{
        background-color:#231A0F;
        width:100%;
        margin-top:2%;
        padding-bottom:5%;
    }
    #desenvolvimento h1{
        font-family:'Western Bang Bang';
        font-size:13vw;
        color:#FFFFFF;
        text-align:center;
        padding-top:2%;
        padding-bottom:1%;
    }
    .tamanhok{
        width:40vw;
        height:45vh;
    }
    #carouselExampleControls{
        /*background-color:#47341D;*/
        background:linear-gradient(to top,#231A0F,#B1863B,#DBA851,#B1863B,#231A0F);
        margin-left:10%;
        margin-right:10%;
    }

    /* NEWSLETTER */
    #newsletter{
        margin-top:2%;
        background-image:url(../fonts/newsletterteste.jpg);
        background-repeat:no-repeat;
        padding-right:10vw;
        padding-left:10vw;
        padding-top:5vh;
        padding-bottom:25vh;
    }
    #newsletter h1{
        font-family:'Western Bang Bang';
        font-size:12vw;
        color:#D9A64D;
        text-shadow:#000000 0.1em 0.1em 0.2em;
        position:absolute;
        top:455vh;
        right:22vw;
    }
    #inputNome{
        position:absolute;
        top:467vh;
        right:19.7vw;
        width:52vw;
        height:4vh;
        margin-left:2.2%;
        border:2px solid #FFFFFF;
    }
    #inputEmail{
        position:absolute;
        top:473vh;
        right:19.7vw;
        width:52vw;
        height:4vh;
        margin-top:2%;
        border:2px solid #FFFFFF;
        margin-left:0.5%;
    }
    #botao{
        background:linear-gradient(to bottom,#D9A64D, #CE8C2C,#AF7C28);
        width:30vw;
        height:4.5vh;
        position:absolute;
        top:482vh;
        right:31vw;
        font-family:'Western Bang Bang';
        font-size:5vw;
        color:#231A0F;
        border:none;
        box-shadow:2px 3px 2px #231A0F;
    }
    #botao:hover{
        background:linear-gradient(to bottom,#AF7C28, #CE8C2C,#D9A64D);
        width:30vw;
        height:4.5vh;
        position:absolute;
        top:482vh;
        right:31vw;
        font-family:'Western Bang Bang';
        font-size:5vw;
        color:#231A0F;
        border:none;
        box-shadow:2px 3px 2px #231A0F;
    }
    #nome{
        font-family:'Western Bang Bang';
        font-size:25px;
        text-shadow:#000000 0.1em 0.1em 0.2em;
        color:#FFFFFF;
        position:absolute;
        top:467vh;
        left:12vw;  
    }
    #email{
        font-family:'Western Bang Bang';
        font-size:25px;
        text-shadow:#000000 0.1em 0.1em 0.2em;
        color:#FFFFFF;
        position:absolute;
        top:474vh;
        left:12vw;
    }
}